@import "tailwindcss";

:root {
    --color-dark-brown: #100703;
    --background: linear-gradient(to top, #132335, var(--color-dark-brown));
    --xl-p-x: 8.2vw;
    --md-p-x: 5.45vw;
    --sm-p-x: 4vw;
}

html, body {
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    font-family: var(--font-geist-sans), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

@media (max-width: 1023px) {
    .show-desktop-only {
        display: none;
    }
}

#hero:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30vw;
    left: 0;
    bottom: 0;
    background: var(--color-dark-brown);
    z-index: 0;
    opacity: 0;
}

.loaded #hero:after, .loaded #hero #wheel-iframe {
    opacity: 1;
    transition: opacity 0.25s ease 0.5s;
}

@media (max-width: 639.8px) {
    #hero:after {
        height: 60dvh;
    }
}

@media screen and (max-width: 639.8px) {
    .swipe-controls {
        &:before, &:after {
            content: '';
            position: fixed;
            top: 0;
            width: 20px;
            height: 100%;
            z-index: 12;
            background: transparent;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}
