.section {
    background: linear-gradient(to bottom, #132335, #141414);
    color: white;
}

.fish {
    background-image: url('/images/fish.svg');
    background-size: cover;
    width: 235px;
    height: 104px;
    margin-left: -235px;
    position: absolute;
    animation: myfirst 24s linear infinite;
    z-index: 0;
    opacity: .2;
}

.fish1 {
    top: 120px;
}

.fish2 {
    top: 260px;
    animation-delay: 12s;
}

.container {
    overflow: hidden;
    position: relative;
    padding: 12vw 0;
}

.info {
    position: relative;
    z-index: 2;
}

.title {
    font-size: calc(32 / 14.4 * 1vw);
    margin-bottom: calc(20 / 14.4 * 1vw);
    line-height: 1.2;
}

.description {
    font-size: calc(18 / 14.4 * 1vw);
}

@media (min-width: 640px) and (max-width: 1023px) {
    .title {
        font-size: calc(48 / 10.24 * 1vw);
    }
    .description {
        font-size: calc(18 / 10.24 * 1vw);
    }
}

@media (max-width: 639.8px) {
    .title {
        font-size: calc(24 / 3.6 * 1vw);
        margin-bottom: calc(10 / 3.6 * 1vw);
        padding: 0 10vw;
    }
    .description {
        font-size: calc(15 / 3.6 * 1vw);
    }
    .container {
        padding: 30vw 10vw;
        br {
            display: none;
        }
    }
}

@-webkit-keyframes myfirst {
    0% {margin-left: -235px;}
    90% {margin-left: 100%;}
    100% {margin-left: 100%;}
}

@keyframes myfirst {
    0% {margin-left: -235px;}
    70% {margin-left: 100%;}
    100% {margin-left: 100%;}
}
