.footer {
    background: linear-gradient(to right, #141414, #000, #141414);
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.logo {
    opacity: .8;
    margin-bottom: 20px;
    transition: opacity 0.2s;
    &:hover {
        opacity: .96;
    }
}

.copyright {
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    opacity: .35;
}

.companyName {
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width: 639.8px) {
    .companyName {
        font-size: 14px;
    }
    .copyright {
        font-size: 12px;
    }
}