.section {
    position: relative;
    height: 100dvh;
    max-height: 76vw;
    min-height: 600px;
    background: linear-gradient(to right, var(--color-dark-brown), #000a1a, #2c2c2c);
    background-size: cover;
    width: 100%;
    overflow: hidden;
    padding: 50px 0 0 var(--xl-p-x);
    display: flex;
    align-items: center;
}

.hidden {
    opacity: 0 !important;
    height: 0;
    width: 0;
    position: fixed;
    pointer-events: none;
}

.offer {
    color: white;
    position: relative;
    z-index: 2;
    max-width: 40vw;
}

.title {
    font-size: calc(54 / 14.4 * 1vw);
}

.description {
    font-size: calc(19 / 14.4 * 1vw);
    margin: calc(24 / 14.4 * 1vw) 0 calc(32 / 14.4 * 1vw);
    line-height: 1.4;
    opacity: .7;
}

.iframe {
    border: 0;
    position: absolute;
    left: -3vw;
    top: 50%;
    transform: translateY(-50%);
    width: 105vw;
    height: 50vw;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease 0.5s;
}

@media (max-width: 1500px) {
    .iframe {
        width: 145vw;
        left: -20vw;
        height: 50vw;
    }
}

@media (max-width: 1023px) {
    .section {
        padding-left: var(--md-p-x);
    }

    .title {
        font-size: calc(44 / 10.24 * 1vw);
    }

    .description {
        font-size: calc(20 / 10.24 * 1vw);
        margin: calc(28 / 10.24 * 1vw) 0 calc(34 / 10.24 * 1vw);
        br {
            display: none;
        }
    }
}

@media (max-width: 1023px) and (orientation: landscape) {
    .section {
        min-height: 100dvh;
    }
}

@media (max-width: 639.8px) {
    .section {
        flex-direction: column;
        padding: 3vw;
        justify-content: center;
        align-items: center;
        max-height: 100dvh;
        &:after {
            height: 60dvh;
        }
    }
    .offer {
        max-width: 80vw;
        text-align: center;
        order: 1;
    }
    .title {
        font-size: calc(24 / 3.6 * 1vw);
        br {
            display: none;
        }
    }
    .iframe {
        position: relative;
        width: 200vw;
        height: 100vw;
        left: -40vw;
        z-index: 1;
        order: 0;
        top: 0;
        transform: translateY(0);
        margin-top: -14vw;
        margin-bottom: 6vw;
    }

    .description {
        font-size: calc(15 / 3.6 * 1vw);
        margin: calc(20 / 3.6 * 1vw) 0 calc(25 / 3.6 * 1vw);
    }
}
