.privacy {
    padding: 10vw 0 7vw;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .privacy {
        padding: 20vw 0 10vw;
    }
}

@media (max-width: 639.8px) {
    .privacy {
        padding: 30vw 0 17vw;
    }
}
